<!DOCTYPE html>
<html lang="ru" ng-app="app" art-main-dir>
<head>
    <title ng-bind="pageData.title || 'Articul Media Group: digital, стратегии, креатив, SMM, мобильный маркетинг, создание и поддержка веб-проектов, мобильные приложения'">Articul Media Group: digital, стратегии, креатив, SMM, мобильный маркетинг, создание и поддержка веб-проектов, мобильные приложения</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <base href="/">

    <link rel="apple-touch-icon" href="/local/templates/articulmedia/img/favicon/a-57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/local/templates/articulmedia/img/favicon/a-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/local/templates/articulmedia/img/favicon/a-114.png" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="icon" href="/local/templates/articulmedia/img/favicon/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="[[ '/local/templates/articulmedia/assets/vendor.css' | asset ]]">
    <link rel="stylesheet" type="text/css" href="[[ '/local/templates/articulmedia/assets/bundle.css' | asset ]]">
    <!-- eof CSS -->

    <!-- js -->
    <script src="[[ '/local/templates/articulmedia/assets/vendor.js' | asset ]]"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="[[ '/local/templates/articulmedia/assets/bundle.js' | asset ]]"></script>
    <!-- eof js -->
</head>

<body class="{{pageData.pageClass}}" ng-class="{
    'videoplays': videoPlays,
    'videostoppped': videoStoppped
  }">
<!-- header -->
{% block header %}
<header class="header" ng-controller="artMenuCtrl">
  <div class="header__container" flex="" layout="row" layout-align="space-between start" layout-align-gt-md="center center">
    <a ui-sref="index" ui-sref-opts="{reload: true}" class="header__logo"></a>
    <nav class="nav" hide-sm hide-xs>
      <ul class="nav__list">
        <li class="nav__item" 
          ng-repeat="item in navData.menuItems" 
          >
          <a  class="nav__link" ng-bind="item.name" 
            ui-sref="{{item.state}}" 
            ui-sref-opts="{reload: true}" 
            ui-sref-active='nav__link--active'
            ></a>
          <ul class="submenu" ng-if="item.subMenu" ng-class="{'submenu--{{item.hoverColor}}': item.hoverColor}">
            <li class="submenu__item" ng-repeat="subItem in item.subMenu">
              <a class="submenu__link" ng-bind="subItem.name" 
              ui-sref="{{subItem.state}}" 
              ui-sref-opts="{reload: true}" 
              ui-sref-active='submenu__link--active'></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="flex"></div>
    <a href="" ng-href="{{item.link}}" class="header__link" ng-repeat="item in navData.headerLinks">
      <img ng-src="{{item.img}}" alt="{{item.name}}">
    </a>
    <md-button class="header__mobile-toggle md-default" ng-click="sidenavShow()" aria-label="menu" md-no-ink="true" md-ripple-size="auto" >
      <span class="sidenav__nav-item__icon svg-icon">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-burger" />
        </svg>
      </span>
    </md-button>
  </div>
</header>
<!-- eof header -->
{% endblock %}

{% block sidenav %}
<md-sidenav class="sidenav md-sidenav-right"
  ng-cloak 
  md-component-id="sidenav-right"
  md-whiteframe="4"
  md-is-open="sidenavIsOpen"
  >
  <div class="sidenav__wrap"  ng-controller="artMenuCtrl">
    <md-button class="md-raised sidenav__close md-mini" ng-click="sidenavHide()" aria-label="menu" md-ripple-size="auto" md-no-ink="true">
      <span class="sidenav__nav-item__icon svg-icon">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-close" />
        </svg>
      </span>
    </md-button>

    <slick settings="slickConfigMenu" class="mobile-menu" 
    ng-if="sidenavIsOpen && navData.menuItems"
    >
      <div class="mobile-menu__slide" ng-repeat="item in navData.menuItems" ng-if="item.subMenu">
        <h5 class="mobile-menu__title">
          <a class="mobile-menu__link" 
            ng-bind="item.name" 
            ui-sref="{{item.state}}" 
            ui-sref-opts="{reload: true}" 
            ui-sref-active='mobile-menu__link--active'
            ></a>
        </h5>
        <ul class="mobile-menu__list" ng-if="item.subMenu">
          <li class="mobile-menu__item" ng-repeat="subItem in item.subMenu">
            <a class="mobile-menu__link"  
              ng-bind="subItem.name" 
              ui-sref="{{subItem.state}}" 
              ui-sref-opts="{reload: true}" 
              ui-sref-active='mobile-menu__link--active'
              ></a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__slide" >
        <h5 class="mobile-menu__title" ng-repeat="item in navData.menuItems" ng-if="!item.subMenu">
          <a class="mobile-menu__link" ng-bind="item.name" 
            ui-sref="{{item.state}}" 
            ui-sref-opts="{reload: true}" 
            ui-sref-active='mobile-menu__link--active'
            ></a>
        </h5>
      </div>
    </slick>
    <div class="sidenav__footer">
        <p class="footer__copy">
          ©1998-2017. Articul Media
        </p>
        <div class="footer__social">

          <a href="#" class="footer__link">
            <span class="svg-icon">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-social-icon-fb"/>
              </svg>
            </span>
          </a>

          <a href="" class="footer__link">
            <span class="svg-icon">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-social-icon-yt"/>
              </svg>
            </span>
          </a>

          <a href="" class="footer__link">
            <span class="svg-icon">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-icon-instagram"/>
              </svg>
            </span>
          </a>

        </div>
        <p class="sidenav__text">
          Россия, 105066, Москва, <br>ул. Александра Лукьянова, д. 3
        </p>
        <p class="sidenav__text">
          Телефон/факс: <br>+7 (495) 739-07-41, +7 (495) 739-07-42
        </p>
        <p class="sidenav__text">
          Электронная почта: <br>info@articulmedia.ru
        </p>
    </div>
  </div>
</md-sidenav>
{% endblock %}

{% block main %}
  <main class="main">
    <div ng-if="pageData.pageBgType" ng-cloak class="inner-page__bg inner-page__bg--{{pageData.pageBgType}}"></div>
    <ui-view></ui-view>
  </main>
{% endblock %}

{% block test %}
{% endblock %}

{% block footer %}
<!-- footer -->
<footer class="footer" ng-class="{'footer--fixed': !pageData.footerIsStatic}">
  <div class="container">
    <p class="footer__copy">
      ©1998-2017. Articul Media
    </p>
    <div class="footer__icon">
      <img src="/local/templates/articulmedia/img/icon/logo-raek.png" alt="РАЭК" class="footer__img">
    </div>
    <div class="footer__icon">
      <img src="/local/templates/articulmedia/img/icon/logo-party.png" alt="Участник" class="footer__img">
    </div>
    <div class="footer__icon">
      <img src="/local/templates/articulmedia/img/icon/logo-microsoft.png" alt="" class="footer__img">
    </div>
    <div class="footer__social">

      <a href="#" class="footer__link">
        <span class="svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-social-icon-fb"/>
          </svg>
        </span>
      </a>

      <a href="" class="footer__link">
        <span class="svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-social-icon-yt"/>
          </svg>
        </span>
      </a>

      <a href="" class="footer__link">
        <span class="svg-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spr-icon-instagram"/>
          </svg>
        </span>
      </a>

    </div>
  </div>
</footer>
<!-- eof footer -->
{% endblock %}

</body>
</html>
